.category-container{
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 48px;
    column-gap: 24px;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
    }
}

.category-title {
    font-size: 32px;
    margin: 24px 0;
    text-align: center;
}