.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media screen and (max-width: 800px) {
      align-items: center;
    }

    h2 {
        text-align: center;
    }
  
    .title {
      font-size: 24px;
      margin-bottom: 25px;
      cursor: pointer;

      &:active, &:hover {
        opacity: 0.75;
      }
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;

      @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
      }
    }
  }