.cart-icon-container {
    width: 56px;
    height: 56px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 32px;
      height: 32px;
    }
  
    .item-count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 4px;
    }
  }